<div class="jumbotron">

  <h1>Welcome to Your Fitness Pal!</h1>
  <p>"When somethig is important enough, you do it even if the odds are not in your favor." -Elon Musk</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
